.btn-my{
    background-color: darkcyan;
    border-color: darkcyan
}
.btn-my:active,.btn-my:focus{
    box-shadow:none !important;
}
.haha {
    display: flex;
    align-items: center;
}

.hahaha {
    width: 100%;
}